@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.date_text {
    font-family: 'Comic Sans';
    font-weight: bold;
    font-size: 2vw;
    color: #fff
}

.date_description_title {
    font-family: 'Comic Sans';
    color: #fff;
    font-size:2vw;
    font-weight: bold;
}

.date_description_company {
    font-family: 'Comic Sans';
    color: #fff;
    font-size:2vw;
    font-weight: bold;
    margin-top: 20px;
}

.date_description {
    font-family: 'Comic Sans';
    color: #fff;
    font-size:1vw;
}

.container-bg {
    background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.4) ),url(../../assert/background/bio_2.jpg);
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    background-size: cover;
    
}


.contents {
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
   

}

.content_2 {
    height: 100px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-top: 330px;
}

.content_decription {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
    
}

.content_decription_2 {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-top: 330px;
   
}

